body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-height: 100vh;
    background-color: #ffdbf1; /* Cor de fundo rosa claro */
    position: relative;
}

h1 {
    font-size: 3em;
    color: #ee82ee; /* Cor do título - Rosa violeta */
    margin-top: 20px; /* Adicionando espaço acima do título */
}

.card {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

button {
    padding: 10px 20px;
    font-size: 1em;
    background-color: #ee82ee; /* Cor do botão - Rosa violeta */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.ornaments {
    width: 50px;
    height: 50px;
    background-color: #ffdbf1; /* Cor de fundo rosa claro */
    border-radius: 50%;
    position: absolute;
    z-index: -1; /* Colocando abaixo do conteúdo */
}

.top-left {
    top: 20px;
    left: 20px;
}

.top-right {
    top: 20px;
    right: 20px;
}

.bottom-left {
    bottom: 20px;
    left: 20px;
}

.bottom-right {
    bottom: 20px;
    right: 20px;
}
